mixin Dress()
    .o-dress
        .o-dress__text
            +Title(4).o-dress__title Дресс-код
            .o-dress__desc Нам будет очень приятно, если вы <br>поддержите цветовую <br>гамму торжества
        .o-dress__colors
            .o-dress__color
            .o-dress__color
            .o-dress__color
            .o-dress__color
            .o-dress__color
