mixin Fscreen()
    .o-fscreen
        .o-fscreen__text
            +Title('1').o-fscreen__title Николай & Алина
            +Title('2').o-fscreen__date 17 05 25
        .o-fscreen__picture
            img(src="/img/fscreen.webp")
        .o-fscreen__blur

