//======== Main colors =========//
:root {
    --basic-color: #151516;
    --white-color: #FFF;
    --white-bg-color: #FEF9F1;
    --grey-color: #7588A8;
    --grey-medium-color: #CFDBE5;
    --grey-light-color: #DCE4EA;
    --grey-lighter-color: #F8FAFD;
    --primary-color: #432D1C;
    --primary-light-color: #93806E;
    --primary-lighter-color: #B09E92;
    --primary-bd-color: rgba(176, 158, 146, 0.50);
    --primary-dark-color: #830101;
}
