mixin Locaion
    .o-location
        .o-location__content
            .o-location__text
                +Title('4').o-location__title Местоположение
                .o-location__desc Санкт-Петербург, Сергиево <br>ул. Куйбышева, 2
            +Link('primary')(href="https://yandex.ru/maps/-/CHB~F0JC" target="_blank").o-location__link Посмотреть на карте
        .o-location__picture
            img(src="/img/location.webp")

