.o-about {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        gap: 40px;
        background-color: var(--white-bg-color);
    }

    &__time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 27px;

        &-items {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &-item {
            display: flex;
            flex-direction: column;
        }

        &-count,
        &-desc {
            font-family: var(--additionalFont), sans-serif;
            font-size: 34px;
            font-style: normal;
            line-height: 24px;
            text-align: center;
            color: var(--primary-color);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    &__invite {
        max-width: 305px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        &-title,
        &-desc {
            font-size: 18px;
            line-height: normal;
        }

        &-title {
            font-weight: 400;
        }

        &-desc {
            font-weight: 300;
            text-align: center;
        }
    }

    &__bottom {
        max-width: 305px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 60px;


        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            width: 1px;
            height: 50px;
            background-color: var(--primary-color);
        }
        &-text {
            font-size: 18px;
            line-height: normal;
            font-weight: 300;
            text-align: center;

            & b {
                font-weight: 400;
            }
        }

        &-btn {
            color: var(--primary-light-color);
            font-weight: 400;
        }
    }

    &__wrapper {
        position: relative;
        height: 280px;
        width: 100%;
    }

    &__picture {
        position: absolute;
        inset: 0;
        transform: translateY(15px);

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }

    &__left-hand {
        position: absolute;
        //bottom: 10%;
        top: 127px;
        //width: 255px;
        width: 240px;
        //left: -17px;
        left: -37px;
        //transition: transform 0.1s ease-out;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }

        &.isBlur {
            //filter: blur(0.6px);
        }
    }
    &__right-hand {
        position: absolute;
        //top: 130px;
        top: 110px;
        //width: 180px;
        width: 170px;
        //right: -30px;
        right: -45px;
        //transition: transform 0.1s ease-out;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }

        &.isBlur {
            //filter: blur(0.6px);
        }
    }
}
