mixin Bottom()
    .o-bottom
        .o-bottom__picture
            img(src='/img/footer.webp')
        .o-bottom__content
            .o-bottom__poem
                .o-bottom__title Ибо Он есть мир наш,  соделавший <br>из обоих одно
                .o-bottom__place Еф. 2, 14
            .o-bottom__bottom
                .o-bottom__bottom-title Если у вас остались вопросы, <br>обращайтесь к нам
                .o-bottom__bottom-contacts
                    span Николай, <a href="tel:+79992295660">+7 999 229 5660</a>
                    span Алина, <a href="tel:+79215920867">+7 921 592 0867</a>
