.o-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;

    &__picture {
        height: 300px;
        width: 100%;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__poem {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--primary-color);
        padding-top: 70px;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            height: 50px;
            width: 1px;
            background-color: var(--primary-color);
        }
    }
    &__title {
        font-family: var(--additionalFont), sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 100;
        line-height: 36px;
        text-align: center;
    }
    &__place {
        font-family: var(--additionalFont), sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        text-align: center;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        color: var(--primary-color);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 155%;

        &-title,
        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;

            & a {
                color: var(--primary-color);
                //text-decoration: underline;
            }
        }
    }
}
