mixin SuccessPopup
    +BasePopup('success', 'small')
        .o-successPopup
            .o-successPopup__icon
                +svg("heart")
            .o-successPopup__text Заявка успешно отправлена!

